.toast-container {
    font-size: 14px;
    position: fixed;
    z-index: 10;
    padding-top: 10px;
    top: 0px;
    right: 0px;
    width: 10rem;
    height: 5rem;
    background-color: #6fbbd3;
    border: 4px solid black;
}

.toastcloseicon {
    float: right;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: -1rem;
}