.playlists {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    text-align: center;
    padding: 10%;
}

.clear-history-btn {
    float: right;
    top: 0px;
    margin-right: 5rem;
}
