@import url('https://fonts.googleapis.com/css?family=Cedarville Cursive');

.nav-header {
    display: flex;
    flex-direction: row;
}

.nav-brand {
    display: inline-block;
    color: var(--primary-color);
    width: 20vw;
}

span {
    font-family: 'Cedarville Cursive';
    font-size: 22px;
}

.nav-brand img {
    height: 4rem;
}

.login-icon {
    text-align: right;
    font-size: 3rem;
    margin-left: auto;
    margin-right: 1rem;
    float: right;
    color: var(--primary-color);
}

.logout-btn {
    margin-right: 0.5rem;
}

.fr {
    float: right;
}

.header-menu-icon {
   display: none; 
}

.signup-nav-link {
    font-size: large;
    border-bottom: 3px solid  var(--primary-color);
    margin-right: 5px;
}

.nav-icon-text {
    display: block;
}

@media only screen and (max-width: 1024px) {
.nav-brand {
    width: 40vw;
}
.header-menu-icon {
    margin-left: 2rem;
    display: inline-block;
}

.logout-btn {
    margin-right: 1.5rem;
}
}